@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
.shoppingcart{
    display: flex;   
    padding:2rem;

    &__button{ 
      display: flex;
      justify-content: center;

      button{
        background-color: $AnnieSilver-Purple;       
        height:3rem;
        width: 92%;
        border-radius:5px;
        border: 1px solid transparent;
        cursor: pointer;
        h3{
          margin:0;
          color:white;
        }
      }
    }

    &__qty{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      padding:1rem;
      &--update{
        display: flex;
        flex-direction: row;
        width:6rem;
        font-size: medium;
        justify-content: space-around;
        border:1px solid $AnnieSilver-Mercury;     
        p{
            margin: 0;
            padding:0 5px;
        }
      }

      &--remove{
        display:flex;
        justify-content: flex-start;
        p,img{
          margin:0;
          pointer-events: none;
        }

      }        
    }
    &__content{
        display: flex;
        flex-direction: column;
        border-right: 1px solid $AnnieSilver-Mercury;
        padding-right: 3rem;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__summary{     
        padding-left: 2rem;
        width: 35%;
        h2{
          padding:0;
        }
        ul{
          display: flex;
          justify-content: space-between;
          padding:0;
        }
        li{
          list-style: none;
          
        }
    }
    &__paypal{
        padding: 1rem;
    }

    hr{
      color:$AnnieSilver-Mercury;
      height:1px;
    }
    
    p{
        padding: 0 1rem;
    }
   
  }
  