$min-wide:320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:1280px;

$d-button-width:10rem;
$t-button-width:10rem;
$button-height:2.5rem;
$input-height:2.5rem;
$AnnieSilver-Radius:4px;


$AnnieSilver-Black:#323232;
$AnnieSilver-Purple:#BBA2CA;
$AnnieSilver-Grey:#758CA3;
$AnnieSilver-Silver:#AFAFAF;
$AnnieSilver-White: #FFFFFF;
$AnnieSilver-Mercury:#E1E1E1;
$AnnieSilver-Alabaster:#FAFAFA;
$AnnieSilver-AlertColor: #D22D2D;


$d-padding-headline-before:3rem;
$d-padding-headline-after:1.5rem;
$d-padding-content-between:1.5rem;
$t-padding-headline-before:3rem;
$t-padding-headline-after:1.5rem;
$t-padding-content-between:1.5rem;
$m-padding-headline-before:1.5rem;
$m-padding-headline-after:1rem;
$m-padding-content-between:1rem;



$m-fontsize-page-header:1.5rem; 
$m-fontweight-page-header:700; 
$m-fontsize-section-header:0.75rem;
$m-fontweight-section-header:700;
$m-fontsize-subheader:0.82rem;
$m-fontweight-subheader:700;
$m-fontsize-bodycopy:0.82rem;
$m-fontweight-bodycopy:400;
$m-fontsize-labelbutton: 0.625rem;
$m-fontweight-labelbutton: 700;


$t-fontsize-page-header: 2.06rem; 
$t-fontweight-page-header: 700;  
$t-fontsize-section-header:0.75rem; 
$t-fontweight-section-header:700; 
$t-fontsize-subheader:0.875rem; 
$t-fontweight-subheader:700;
$t-fontsize-bodycopy:0.875rem;
$t-fontweight-bodycopy:400;
$t-fontsize-labelbutton: 0.75rem;
$t-fontweight-labelbutton: 700;

$d-fontsize-page-header: 2.06rem; 
$d-fontweight-page-header: 700;  
$d-fontsize-section-header:0.75rem; 
$d-fontweight-section-header:700; 
$d-fontsize-subheader:0.875rem; 
$d-fontweight-subheader:700;
$d-fontsize-bodycopy:0.875rem;
$d-fontweight-bodycopy:400;
$d-fontsize-labelbutton: 0.75rem;
$d-fontweight-labelbutton: 700;
