$tablet-breakpoint: 768px;
$desktop-breakpoint:1280px;


$d-button-width:10rem;
$t-button-width:10rem;
$button-height:2.5rem;
$button-radius:1.25rem;
$input-height:2.5rem;
$AnnieSilver-Radius:4px;


$AnnieSilver-Black:#323232;
$AnnieSilver-Purple:#BBA2CA;
$AnnieSilver-Blue:#009CDE;
$AnnieSilver-Grey:#758CA3;
$AnnieSilver-Silver:#AFAFAF;
$AnnieSilver-White: #FFFFFF;
$AnnieSilver-Mercury:#E1E1E1;
$AnnieSilver-Alabaster:#FAFAFA;
$AnnieSilver-AlertColor: #D22D2D;

$m-padding-content-between:1rem;
$t-padding-content-between:2rem;
$d-padding-content-between:2rem;